.git
jupe
resources/confidential_input
resources/grid/generate
resources/ontology/cendant/cendant.obda
resources/ontology/cendant/cendant.properties
resources/output
environment.local.sh
devops/mongo

.DS_Store
.cache
.cache
.env
.idea
.mypy_cache
.mypy_cache
.pytest_cache
.pytest_cache
