.env
.idea/
.DS_Store
jupe/.Python
jupe/.ipynb_checkpoints/
/.vscode
.cache/
.pytest_cache/
.mypy_cache/
/resources/output
bfg.jar
*.jar
..bfg-report
*.gv
*.svg
*.png
/jupe/*.png
__pycache__/
*.py[cod]
T*.json
/jupe/output
jupe/output
passwords.txt
~*.xlsx
environment.local.sh
environment.team.sh
github_issues_new.py
jupe/Craig/Github*
jupe/Craig/.ipynb_checkpoints/Github*
.num_pods
output
resources/output